.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: transparent;
    z-index: 1000;
    -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	transition: all ease-in-out 0.5s;

    &__scroll {
        background: #2d2d2d75;
        box-shadow: 0 0 36px #0000009c;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 750px;
        position: relative;
        .burger {
            height: 24px;
            width: 24px;
            position: absolute;
            z-index: 1000;
            left: 20px;
            cursor: pointer;
            span {
                height: 2px;
                width: 100%;
                background: #fff;
                position: absolute;
                /* top: 50%; */
                /* left: 50%; */
                /* transform: translate(-50%, -50%); */
                -webkit-transition: 0.7s ease;
                transition: 0.7s ease;
                border-radius: 2px;
                &:nth-child(1) {
                    top: 25%;
                }
                &:nth-child(2) {
                    top: 50%;
                }
                &:nth-child(3) {
                    top: 75%;
                }
            }
            &__active {
                span {
                    &:nth-child(1) {
                        width: 50%;
                    }
                    &:nth-child(2) {
                        width: 75%;
                    }
                }
            } 
        }
        .menu {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            background: #1a1a1a;
            position: fixed;
            top: 0;
            left: 0;
            transition: all .4s ease-in-out;
            visibility: hidden;
            opacity: 0;
            margin-top: 72px;
            // position: relative;
            &__active {
                visibility: visible;
                z-index: 999;
                // height: 100vh;
                opacity: 1;
            }
            
            &__navigation {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 0 20px;
                gap: 28px;
                padding-top: 20px;

                &_li {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    a {
                        font-size: 22px;
                        font-weight: 700;
                        color: #fff;
                        letter-spacing: 2px;
                    }
                }
            }
        }
        .logo {
            display: flex;
            &__title {
                font-size: 23px;
                line-height: 23px;
                letter-spacing: 3px;
            }
            &__small {
                font-size: 11px;
                letter-spacing: 2px;
            }
        }
        .logo__wrapper {
            z-index: 1000;
            position: relative;
            align-self: center;
            display: flex;
            text-align: center;
            color: #fff;
        }
    }
}