$color-accent: #878787;            // Приглушенный зеленый акцент

.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  gap: 20px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba($color-accent, 0.2);
  border-radius: 50%;
  border-top-color: $color-accent;
  border-left-color: rgba($color-accent, 0.2);
  border-right-color: rgba($color-accent, 0.2);
  border-bottom-color: rgba($color-accent, 0.2);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

